[Desktop Entry]
Type=Application
Name=PlayDate
Comment=Your personal Steam library manager
Exec=playdate
Icon=io.github.robbyratpoison.PlayDate
Terminal=false
Categories=Game;
StartupWMClass=io.github.robbyratpoison.PlayDate
